@model DashboardViewModel

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.TotalRequests</h3>
                <p>Toplam Talep</p>
            </div>
            <div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
            <a href="/Admin/HelpRequest" class="small-box-footer">
                Tümünü Gör <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.PendingRequests</h3>
                <p>Bekleyen Talep</p>
            </div>
            <div class="icon"><i class="fas fa-clock"></i></div>
            <a href="/Admin/HelpRequest?status=Bekliyor" class="small-box-footer">
                Bekleyenleri Gör <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.CompletedRequests</h3>
                <p>Teslim Edilen</p>
            </div>
            <div class="icon"><i class="fas fa-check-circle"></i></div>
            <a href="/Admin/HelpRequest?status=TeslimEdildi" class="small-box-footer">
                Detay <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3>@Model.ActiveAssignments</h3>
                <p>Aktif Görevlendirme</p>
            </div>
            <div class="icon"><i class="fas fa-tasks"></i></div>
            <a href="/Admin/Assignment" class="small-box-footer">
                Görevlendirmeler <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-thumbs-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Onaylanan Talep</span>
                <span class="info-box-number">@Model.ApprovedRequests</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="info-box">
            <span class="info-box-icon bg-secondary"><i class="fas fa-truck"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Atanan / Yolda</span>
                <span class="info-box-number">@Model.AssignedRequests</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="info-box">
            <span class="info-box-icon bg-olive"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Gönüllü Sayısı</span>
                <span class="info-box-number">@Model.TotalVolunteers</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="info-box">
            <span class="info-box-icon bg-maroon"><i class="fas fa-map-marked-alt"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Bölge Sayısı</span>
                <span class="info-box-number">@Model.TotalRegions</span>
            </div>
        </div>
    </div>
</div>